{# case-detail.twig #}
{% extends "components/_layout.twig" %}
{% set title = "IMDb" %}

{% set caseNav = {
    "previousText": "SpaceRace",
    "previousLink": "/spacerace",
    "nextText": "CSR Platform",
    "nextLink": "/csr",
}%}

{% set case = {
    "title": "IMDb redesign",
    "description": "As design and prototyping exercise I made a redesign of the current IMDb homepage. As this exercise was mostly for fun I took myself as a persona.",
    "chapters": [{
        "title": "Exploring movies",
        "description": "The primary focus is on exploring movies. Hovering over a movie poster will show the trailer and a icon to add it to your watchlist.",
        "img": "/assets/cases/imdb/imdb",
        "imgExtension": "png",
        "video": "/assets/cases/imdb/imdb",
        "vidExtensions": ["webm", "mp4"]
    }, {
        "title": "More movies to explore",
        "description": "To load more movies I used a pattern that a lot of users will recognize, from for example, Netflix.",
        "img": "/assets/cases/imdb/imdb_sidescroll",
        "imgExtension": "png",
        "video": "/assets/cases/imdb/imdb_sidescroll",
        "vidExtensions": ["webm", "mp4"]
    }, {
        "title": "Watchlist",
        "description": "The watchlist feature is more obvious and discoverable in the new design. It should be available wherever a movie title or poster is displayed.",
        "img": "/assets/cases/imdb/imdb_addfavs",
        "imgExtension": "png",
        "video": "/assets/cases/imdb/imdb_addfavs",
        "vidExtensions": ["webm", "mp4"]
    }],
    "prototype": {
        "title": "Prototype",
        "text": "Check out the design as Framer prototype",
        "link": "https://framer.cloud/AZmcA/",
        "btnText": "Show me!"
    }
} %}

{% block page %}

{% include "components/_nav.twig" %}

<section>
    <h1>{{ case.title }}</h1>
    <p>{{ case.description }}</p>

    <ul class="navigation navigation--big">
        <li><a href="#prototype">Check out the prototype</a></li>
    </ul>

    {% for chapter in case.chapters %}
        <article class="case case--detail">
            <div class="case__preview">
                {% if chapter.video %}
                    <video poster="{{ chapter.img }}@2x.{{ chapter.imgExtension }}" muted webkit-playsinline playsinline loop>

                        {% for extension in chapter.vidExtensions %}
                            <source src="{{ chapter.video }}.{{ extension }}" type="video/{{ extension }}">
                        {% endfor %}

                        <img src="{{ chapter.img }}.{{ chapter.imgExtension }}" srcset="{{ chapter.img }}.{{ chapter.imgExtension }} 1x, {{ chapter.img }}@2x.{{ chapter.imgExtension }} 2x">
                    </video>
                {% else %}
                    <img src="{{ chapter.img }}.{{ chapter.imgExtension }}" srcset="{{ chapter.img }}.{{ chapter.imgExtension }} 1x, {{ chapter.img }}@2x.{{ chapter.imgExtension }} 2x">
                {% endif %}
            </div>
            <div class="case__content">
                <h3>{{ chapter.title }}</h3>
                <p>{{ chapter.description }}</p>
            </div>
        </article>
    {% endfor %}
</section>

{% if case.prototype.link %}
    <section class="section--outro" id="prototype">
        <h2>{{ case.prototype.title }}</h2>
        <p>{{ case.prototype.text }}</p>
        <a class="button" href="{{ case.prototype.link }}" target="_blank">{{ case.prototype.btnText }}</a>
    </section>
{% endif %}

{% include "components/_case-nav.twig" with caseNav %}

{% endblock %}